In [1]:
#!-*- coding:utf-8 -*-
#
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn import cross_validation

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
data=pd.read_csv('decision.csv',encoding='utf-8',sep=' ')
print(data.shape)
print(data.head(5))

(1000000, 16)
      user_id  age  net_age  neto_dur  chrg_dur  sms_bill_cnt  flux_fee  \
0  8408056510   31       25        42        42            16      2717
1  8627971378   37       23        97        42            21      2382
2  8707700881   35       20        73        27             4      2152
3  8404003205   42       15        97        27            21      2024
4  8701397825   39       21        71         8            15      2336

   iset_flux   arpu  acct_balance  extend_paydate_days  last_year_owe_cnt  \
0      10240  21383          4162                   30                  0
1       1024   7847          5884                   47                  5
2        300   1941          3358                   40                  0
3        200   2656          2487                   70                  0
4      10240   9954          3052                   70                  3

   last_year_complain_cnt  ordered_prodect_cnt  circle_nou  churn_label
0                       0                    3           4            0
1                       0                    1           4            0
2                       0                    4           2            1
3                       0                    1           6            0
4                       3                    2           6            0

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 16 columns):
user_id                   1000000 non-null int64
age                       1000000 non-null int64
net_age                   1000000 non-null int64
neto_dur                  1000000 non-null int64
chrg_dur                  1000000 non-null int64
sms_bill_cnt              1000000 non-null int64
flux_fee                  1000000 non-null int64
iset_flux                 1000000 non-null int64
arpu                      1000000 non-null int64
acct_balance              1000000 non-null int64
extend_paydate_days       1000000 non-null int64
last_year_owe_cnt         1000000 non-null int64
last_year_complain_cnt    1000000 non-null int64
ordered_prodect_cnt       1000000 non-null int64
circle_nou                1000000 non-null int64
churn_label               1000000 non-null int64
dtypes: int64(16)
memory usage: 122.1 MB
None

In [6]:
print(data.describe())

            user_id             age         net_age        neto_dur  \
count  1.000000e+06  1000000.000000  1000000.000000  1000000.000000
mean   8.499994e+09       35.027698       30.326975       59.574035
std    2.887864e+08       11.340514       14.144417       19.880181
min    8.000001e+09       18.000000        0.000000        0.000000
25%    8.249915e+09       26.000000       20.000000       46.000000
50%    8.499927e+09       34.000000       30.000000       60.000000
75%    8.750455e+09       42.000000       40.000000       73.000000
max    9.000000e+09      101.000000      107.000000      158.000000

             chrg_dur    sms_bill_cnt        flux_fee       iset_flux  \
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean        29.548803       15.079246     2000.137351     2787.907616
std          9.943020        7.429960      598.237676     3094.369936
min          0.000000        0.000000        0.000000      200.000000
25%         23.000000       10.000000     1596.000000      500.000000
50%         30.000000       15.000000     2000.000000     1536.000000
75%         36.000000       20.000000     2404.000000     4096.000000
max         77.000000       55.000000     4897.000000    10240.000000

                 arpu    acct_balance  extend_paydate_days  last_year_owe_cnt  \
count  1000000.000000  1000000.000000       1000000.000000     1000000.000000
mean      7724.929542     4109.592104            39.953382           0.656272
std       5907.102323     1881.612053            23.379563           1.313058
min     -12655.000000        0.000000             0.000000           0.000000
25%       3198.000000     2758.000000            20.000000           0.000000
50%       5915.000000     4055.000000            40.000000           0.000000
75%      10643.000000     5383.000000            60.000000           1.000000
max      48431.000000    14183.000000            80.000000           5.000000

       last_year_complain_cnt  ordered_prodect_cnt      circle_nou  \
count          1000000.000000       1000000.000000  1000000.000000
mean                 0.655834             3.501180        3.884833
std                  1.312611             1.707307        1.949743
min                  0.000000             1.000000        0.000000
25%                  0.000000             2.000000        2.000000
50%                  0.000000             4.000000        4.000000
75%                  0.000000             5.000000        5.000000
max                  5.000000             6.000000        7.000000

          churn_label
count  1000000.000000
mean         0.500786
std          0.500000
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000

In [12]:
col_dicts = {}
cols =  data.columns.values.tolist()

X=data.loc[:,cols[1:-1]]
# print X.info()
y=data[cols[-1]]

In [13]:
X.head()

,age,net_age,neto_dur,chrg_dur,sms_bill_cnt,flux_fee,iset_flux,arpu,acct_balance,extend_paydate_days,last_year_owe_cnt,last_year_complain_cnt,ordered_prodect_cnt,circle_nou
0,31,25,42,42,16,2717,10240,21383,4162,30,0,0,3,4
1,37,23,97,42,21,2382,1024,7847,5884,47,5,0,1,4
2,35,20,73,27,4,2152,300,1941,3358,40,0,0,4,2
3,42,15,97,27,21,2024,200,2656,2487,70,0,0,1,6
4,39,21,71,8,15,2336,10240,9954,3052,70,3,3,2,6